.Car {
    font-size: calc(10px + 1vmin) !important;
    color: #282c34 !important;
}

.Heading {
    font-weight: bold !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.Details {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}

.Panel {
    margin: 8px !important;
    background-color: #eeeeee !important;
}

.Image {
    width: auto;
}

.Link {
    color: #1f3f80;
}

.Gallery {
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    .Gallery {
        padding: 0px;
    }

    .Features {
        padding: 0px 0px 0px 5px !important;
    }

    .thumbs-wrapper {
        display: none;
    }
}
